body {
    margin: 0;
}
.header {
    background-color: black;
    color: white;
    margin: 0;
    height: 75px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    height: 200px;
}
.park-service-logo {
    height: 90px;
    width: auto;
}