.park-page {
  margin: 0;
}

.headerImage {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: flex-end;
  color: white;
  background-size: cover;
}

.parkName {
  color: white;
}

.park-description {
  width: 80%;
  color: white;
  height: auto;
  margin: 0;
  padding: 40px 10%;
  background-color: black;
}

.section-title {
  margin-left: 10%;
  margin-right: 10%;
}

.address {
  margin-left: 10%;
  margin-right: 10%;
}

.directions {
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  width: 160px;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
}

.parkImages {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: left;
}

@media screen and (min-width: 830px) {
  .parkImages {
      flex-direction: row;
  }
}

.parkImage {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-size: cover;
}

@media screen and (min-width: 830px) {
  .parkImage {
    width: 200px;
    height: 200px;
  }
}

.home-link {
  margin-left: 10%;
  margin-right: 10%;
}
