img {
    height: 200px;
    width: 200px;
}
.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
main {
    margin-left: 30px;
}
.parkName {
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}
.title {
    color: white;
    margin-top: 150px;
    text-align: center;
}