img {
    height: 200px;
    width: 200px;
}
.parkList {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 700px) {
    .parkList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

main {
    margin-left: 15px;
    margin-right: 15px;
}
.parkName {
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}
.park {
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}
.title {
    color: white;
    margin-top: 150px;
    text-align: center;
}