.park-page {
  margin: 0;
}

.headerImage {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: flex-end;
  color: white;
  background-size: cover;
}

.park-page-park-name {
  color: white;
  text-shadow: 1px 1px black;
  padding-left: 10%;
  font-size: 45px;
  height: 250px;
}

.park-description {
  width: 80%;
  color: white;
  height: auto;
  margin: 0;
  font-size: 25px;
  padding: 40px 10%;
  background-color: black;
}

.section-title {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
}

.address {
  margin: 0 10%;
  font-size: 25px;
}

.directions {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
}

.site-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button {
  width: 160px;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
}

/* display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */


.parkImages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: left;
  width: 80%;
  height: auto;
}

@media screen and (min-width: 700px) {
  .parkImages {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10%;
  margin-right: 10%;
  }
}

@media screen and (min-width: 930px) {
  .parkImages {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 1320px) {
  .parkImages {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.parkImage {
  width: 400px;
  height: 400px;
  margin-right: 20px;
  background-size: cover;
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  .parkImage {
    width: 280px;
    height: 280px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 930px) {
  .parkImage {
    width: 250px;
    height: 250px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1320px) {
  .parkImage {
    width: 200px;
    height: 200px;
    margin-top: 0;
  }
}

.home-link {
  margin-left: 10%;
  margin-right: 10%;
}
