.search-results {
  margin-top: 20px;
  padding: 0 20px;
}

.search-btn {
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  background: #6532CB;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
